@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-serif);
  
  --color-background: #020617;
  --color-foreground: #ecfdf5;
  
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Opcjonalnie: Custom scrollbar dla klimatu "hacker" */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #022c22; }
::-webkit-scrollbar-thumb { background: #10b981; border-radius: 4px; }

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}